// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
#nav {
  line-height:30px;
  background-color:#eeeeee;
  min-height: 1080px;
  width: 384px;
  float: left;
}
#section {
  width: auto;
  min-height: 100%;
  margin-left: 384px;
}
#footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}